@import "../../shared-styles/variables";

.RenunciationSection {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  // To be able to position the gradient.
  position: relative;
  // To leave some space for the gradient.
  margin-top: 40vh;
}

.EvenThat {
  // font-weight: 600;
}

iframe {
  width: 100%;
  height: 600px;
  max-height: 80vh;
  margin-top: $padding;
  margin-bottom: $padding;
}

.LineGroup {
  margin-top: $padding;
  margin-bottom: $padding;
}

.LineGroup p {
  opacity: 0;
}

.ImageGroup {
  padding-top: 12px;
  padding-bottom: 12px;
}

.CommentImage {
  // display block to allow margin collapsing;
  display: block;
  margin-top: $padding;
  margin-bottom: $padding;
  width: 100%;
  opacity: 0.7;
}

@media screen and (min-width: $breakpoint-handheld) {
  .ImageGroup .CommentImage:nth-child(1) {
    // transform: translateX(calc(-#{$small-column-width} * 0));
  }
  .ImageGroup .CommentImage:nth-child(2) {
    transform: translateX(calc(-#{$small-column-width}));
  }
  .ImageGroup .CommentImage:nth-child(3) {
    transform: translateX(calc(-#{$small-column-width} * 0.6));
  }
}
