@import "../../shared-styles/variables";

// We need the section to impose its black background on the whole width.
.PatternsSection {
  min-height: 80vh;
  background-color: #000;
  width: 100%;
  overflow: hidden;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.PatternsSection .Padder {
  max-width: $content-width;
  padding: $padding;
  margin: 0 auto;
  margin-bottom: 10vh;
}

.Title {
  width: 100%;
  text-align: left;
  font-family: $font-family-typewriter;
  color: white;
  font-size: $font-size-name-title;
  // Set a positionning to appear above other positionned elements
  // (in the DOM order)
  position: relative;
}

.PatternRow {
  white-space: nowrap;
  // overflow: hidden;
  overflow: visible;
  display: inline-block;
}

.Pattern {
  font-family: sans-serif;
  color: white;
  font-size: 94px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}
