@import "../../shared-styles/variables";

.MainRootContent {
  overflow-y: hidden;
}

/*
 * Generic styles for all contained components
 */

* {
  // Make stuff calculate their padding after calculating the size.
  box-sizing: border-box;
}

.MainStickman {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: top left;
  visibility: hidden;
  z-index: 100;
  overflow: visible;
}
