@import "../../shared-styles/variables";

/*
.header {
  text-align: center;
}

.nav {
  width: $content-width;
  margin: 0 auto;
  padding: $padding;
  text-align: center;
}

.content {
  width: $content-width;
  margin: $padding auto;
}

.navItem {
  display: inline-block;
}

.link {
  padding: $padding;
  color: #00a68f;
  font-size: 18px;
}

.logo {
  display: block;
  width: 252px;
  height: 252px;
  margin: $padding auto;
  background: url('../../images/icon-kytLogo_large-252x252.svg');
}
*/

.nextSection {
  background-color: #555;
  height: 100vh;
}

/*
 * Generic styles for all contained components
 */

* {
  // Make stuff calculate their padding after calculating the size.
  box-sizing: border-box;
}

.MainStickman {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: top left;
  visibility: hidden;
}
