@import "../../shared-styles/variables";

.SecondPart {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  font-family: $font-family-regular;
}
