@import "../../shared-styles/variables";

$margin-p: 29px;
$margin-p-s: 21px;
$margin-p-x2: 58px;

.SecondPart {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.Subtitle {
  margin-bottom: $margin-p-x2;
}

// Texts and titles
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-regular;
  line-height: 1.9;
}

p,
h4 {
  font-size: $font-size-regular-small;
  margin-top: $margin-p;
}

h4 + p {
  margin-top: 12px;
}

@media screen and (max-width: $breakpoint-handheld) {
  p,
  h4 {
    font-size: $font-size-regular-small-s;
    margin-top: $margin-p-s;
  }
}

h4 {
  font-weight: 600;
}

// Quotes
q {
  font-style: italic;
}

blockquote {
  font-family: $font-family-quote;
  font-style: italic;
}

blockquote cite {
  font-family: $font-family-regular;
  font-style: normal;
  text-align: right;
  margin-top: $padding;
  margin-bottom: $padding;
}
