@import "./variables";

// === PUSHER / PICKER / FILLER ===

.NameTitle {
  width: 100%;
  text-align: left;
  font-family: $font-family-typewriter;
  color: white;
  font-size: $font-size-name-title;
  // Set a positionning to appear above other positionned elements
  // (in the DOM order)
  position: relative;
}

@media (max-width: $breakpoint-handheld) {
  .NameTitle {
    font-size: $font-size-name-title-s;
  }
}

// === PADDING ===

.Padder {
  max-width: $content-width;
  padding: 0px $padding 0px $padding;
  margin: 0 auto;
}

.LeftBigColumnPadder {
  max-width: $content-width;
  padding: 0px $padding-for-small-column 0px $padding;
  margin: $padding auto;
}

.RightBigColumnPadder {
  max-width: $content-width;
  padding: 0px $padding 0px $padding-for-small-column;
  margin: $padding auto;
}

@media (max-width: $breakpoint-handheld) {
  .RightBigColumnPadder {
    padding: 0px $padding 0px $padding;
  }
  .LeftBigColumnPadder {
    padding: 0px $padding 0px $padding;
  }
}

.PullLeft {
  min-width: 170px;
  width: 55%;
}
.PullRight {
  min-width: 170px;
  width: 55%;
}

.InfoBox {
  border: 6px solid #222;
  padding: $padding-s;
  margin: $padding;
}

.InfoBox p,
.InfoBox h5 {
  line-height: 1.35;
  font-family: $font-family-utopia;
}

.InfoBox p {
  font-size: 14px;
  margin-top: 12px;
}

.InfoBox h5 {
  font-size: 15px;
  font-weight: 600;
}

@media (min-width: $breakpoint-handheld) {
  .PullLeft {
    max-width: 230px;
    padding: $padding;
    float: left;
    margin-left: -180px;
  }

  .PullRight {
    max-width: 230px;
    padding: $padding;
    float: right;
    margin-right: -180px;
  }

  .PullDown100 {
    margin-top: 50px;
  }
}

@media (min-width: $breakpoint-large) {
  .PullLeft {
    margin-left: -262px;
  }
  .PullRight {
    margin-right: -262px;
  }
}

// === TEXT STYLES ===

.TypewriterText {
  font-size: $font-size-small;
  line-height: 1.9;
  font-family: $font-family-typewriter;
}

.UtopianText {
  font-size: $font-size-small;
  line-height: 1.9;
  font-family: $font-family-utopia;
}

@media (max-width: $breakpoint-handheld) {
  .TypewriterText {
    font-size: $font-size-small-s;
  }
}

.ParagraphSpacer {
  height: $padding;
}

.Citation,
blockquote .Citation a {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

blockquote .Citation {
  font-size: 100%;
  // line-height: 0;
  // position: relative;
  vertical-align: baseline;
  // top: -0.5em;
}

// === GRADIENTS ===

.TopGradient {
  // A smoother gradient than the default one with no easing.
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.008) 13%,
    rgba(0, 0, 0, 0.024) 20%,
    rgba(0, 0, 0, 0.051) 27%,
    rgba(0, 0, 0, 0.086) 33%,
    rgba(0, 0, 0, 0.181) 44%,
    rgba(0, 0, 0, 0.302) 55%,
    rgba(0, 0, 0, 0.404) 62%,
    rgba(0, 0, 0, 0.737) 82%,
    rgba(0, 0, 0, 0.878) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  position: absolute;
  bottom: calc(100% - 1px);
  left: 0px;
  width: 100%;
  height: 70vh;
}
