@import "./variables";

.NameTitle {
  width: 100%;
  text-align: left;
  font-family: $font-family-typewriter;
  color: white;
  font-size: $font-size-name-title;
  // Set a positionning to appear above other positionned elements
  // (in the DOM order)
  position: relative;
}

@media screen and (max-width: $breakpoint-handheld) {
  .NameTitle {
    font-size: $font-size-name-title-s;
  }
}

.Padder {
  max-width: $content-width;
  padding: $padding;
  margin: 0 auto;
}

.LeftBigColumnPadder {
  max-width: $content-width;
  padding: $padding $padding-for-small-column $padding $padding;
  margin: 0 auto;
}

.RightBigColumnPadder {
  max-width: $content-width;
  padding: $padding $padding $padding $padding-for-small-column;
  margin: 0 auto;
}

@media screen and (max-width: $breakpoint-handheld) {
  .RightBigColumnPadder {
    padding: $padding;
  }
  .LeftBigColumnPadder {
    padding: $padding;
  }
}

p {
  font-size: $font-size-small;
  line-height: 1.9;
  font-family: $font-family-typewriter;
}

@media screen and (max-width: $breakpoint-handheld) {
  p {
    font-size: $font-size-small-s;
  }
}

.UtopianText {
  font-family: $font-family-utopia;
}
