$content-width: 960px;
$padding: 32px;
$font-family-typewriter: "Courier", "Courier New", monospace;
$font-size-small: 22px;
$font-size-name-title: 64px;
$font-size-name-title-small: 36px;
$center-upper: 8vh;
