$content-width: 960px;
$padding: 32px;
$padding-s: 22px;
$section-padding: 20vh;
$small-column-width: 198px;
$padding-for-small-column: 230px;
$center-upper: 8vh;
$breakpoint-handheld: 768px;
$breakpoint-large: 1080px;

$font-family-typewriter: "Latin Modern Mono", "Courier", "Courier New",
  monospace;
$font-family-regular: "SangBleu Republic", "Times New Roman", serif;
$font-family-quote: "SangBleu Republic", "Times New Roman", serif;
$font-family-utopia: "Euclid Circular A", "Helvetica Neue", "Helvetica",
  "Open Sans", sans-serif;

$font-size-small: 24px;
$font-size-regular-small: 21px;
$font-size-small-s: 16px;
$font-size-regular-small-s: 16px;

// Pixel pusher / Pattern picker / Template filler.
$font-size-name-title: 64px;
$font-size-name-title-s: 36px;

:export {
  breakpointHandeld: $breakpoint-handheld;
}
