@import "../../shared-styles/variables";

.GoalsSection {
  height: 100vh;
  background-color: black;
  max-width: $content-width;
  max-width: 100%;
  margin: 0 auto;
  padding: $padding;
}

.GoalsSection p {
  font-family: monospace;
  margin-top: 32px;
  margin-bottom: 32px;
  white-space: nowrap;
  overflow: visible;
}

.GoalsSection .TopGradient {
  // A smoother gradient than the default one with no easing.
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.008) 13%,
    rgba(0, 0, 0, 0.024) 20%,
    rgba(0, 0, 0, 0.051) 27%,
    rgba(0, 0, 0, 0.086) 33%,
    rgba(0, 0, 0, 0.181) 44%,
    rgba(0, 0, 0, 0.302) 55%,
    rgba(0, 0, 0, 0.404) 62%,
    rgba(0, 0, 0, 0.737) 82%,
    rgba(0, 0, 0, 0.878) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  position: absolute;
  bottom: 100%;
  left: 0px;
  width: 100%;
  height: 40%;
}
