@import "../../shared-styles/variables";

// We need the section to impose its black background on the whole width.
.GoalsSection {
  height: 100vh;
  background-color: black;
  width: 100%;
}

// We need a centerer object that adds padding, but if the content is
// absolutely positionned as a direct child, it won't respect the padding.
.GoalsSection .Padder {
  max-width: $content-width;
  padding: $padding;
  margin: 0 auto;

  // Use flexbox to center vertically (not super important)
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// So we relatively position a children of the padding element, so that the
// children respect the margin/padding box for their positioning.
.GoalsSection .GoalsScene {
  position: relative;
  // With position: absolute children, it seems there's no way to make the
  // children dictate the size of the parents, so we can hardcode a minimum
  // one here
  min-height: 400px;

  // Since the parent center this div, bring it back up a little bit.
  transform: translateY(-8vh);
}

.GoalsSection .TopGradient {
  // A smoother gradient than the default one with no easing.
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.008) 13%,
    rgba(0, 0, 0, 0.024) 20%,
    rgba(0, 0, 0, 0.051) 27%,
    rgba(0, 0, 0, 0.086) 33%,
    rgba(0, 0, 0, 0.181) 44%,
    rgba(0, 0, 0, 0.302) 55%,
    rgba(0, 0, 0, 0.404) 62%,
    rgba(0, 0, 0, 0.737) 82%,
    rgba(0, 0, 0, 0.878) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  position: absolute;
  bottom: 99%;
  left: 0px;
  width: 100%;
  height: 70%;
}

.Stickman {
  position: absolute;
  left: 0px;
  top: 181px;
}

.ViewLine {
  position: absolute;
  left: 19px;
  right: 135px;
  top: 191px;
  height: 10px;
  overflow: hidden;
  // border: 1px dashed #df2323;
}

.ViewLine svg {
  position: absolute;
  top: 0px;
  left: 0px;
}

.Target {
  position: absolute;
  width: 225.86px;
  height: 225.86px;
  right: 21px;
  top: 80px;
}

.TargetText {
  position: absolute;
  width: 226px;
  right: 21px;
  top: 329px;
  overflow: visible;
}

.Truth {
  position: absolute;
  left: 100px;
  top: 138px;
  max-width: 52%;
  font-family: $font-family-typewriter;
  font-size: $font-size-small;
  color: white;
}

// Lower the text on small screen
@media (max-width: 700px) {
  .Truth {
    top: 400px;
    left: 0px;
  }
}
