@import "../../shared-styles/variables";

$separation-height: 30vh;

.RomantisationSection {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.Quote {
  font-family: $font-family-quote;
  font-size: $font-size-regular-small;
  font-style: italic;
  line-height: 1.9;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: $breakpoint-handheld) {
  .Quote {
    font-size: $font-size-regular-small-s;
  }
}

.QuoteSignature {
  text-align: right;
}

.AndWith {
  margin-top: 55px;
  margin-bottom: 10px;
}

@media screen and (max-width: $breakpoint-handheld) {
  .AndWith {
    margin-top: 32px;
    margin-bottom: 8px;
  }
}

.AndIll {
  font-weight: 600;
}

div.TakeBack {
  font-size: 15vw;
  text-align: center;
  font-weight: 600;
  padding-top: $separation-height;
  padding-bottom: $separation-height;
  color: #000;
  // Center vertically
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Videos

.WebComVideo {
  margin-top: 10vh;
  width: 100%;
  max-width: 100%;
  max-height: 70vh;
  margin-bottom: $separation-height;
}

.PaintStrikethroughVideo {
  width: 100%;
  max-width: 100%;
  max-height: 40vh;
  margin-bottom: 0px;
  transform: scale(1.11);
}

.PaintPeopleVideo {
  width: 100%;
  max-width: 100%;
  max-height: 40vh;
  margin-bottom: $separation-height;
}
