@import "../../shared-styles/variables";

// We need the section to impose its black background on the whole width.
.PusherSection {
  height: 100vh;
  background-color: #000;
  width: 100%;
  padding-top: $padding;
  overflow: hidden;
}

.PusherSection .Padder {
  max-width: $content-width;
  padding: $padding;
  margin: 0 auto;
  // The shareholder and stickman can overflow, also the table.
  overflow: hidden;

  // Use flexbox to center vertically (not super important)
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.Stickman {
  position: absolute;
  left: 371px;
  bottom: 217px;
}

div.Title {
  text-align: right;
}

.Hat {
  position: absolute;
  left: 397px;
  bottom: 452px;
}

.Pixels {
  position: absolute;
  left: -127px;
  bottom: -114px;
}

.GraphicsWrapper {
  position: absolute;
  // right: -123px;
  // bottom: -41px;
  left: 0px;
  bottom: 0px;
  width: 996px;

  // max-height: 50vh;
  // height: 100%;
  // width: 100vh;
  transform-origin: bottom left;
}

// Small devices (landscape phones, 576px and up)
// Medium devices (tablets, 768px and up)
// Large devices (desktops, 992px and up)
// Extra large devices (large desktops, 1200px and up)
@media screen and (max-width: $breakpoint-handheld),
  screen and (max-height: 900px) {
  .GraphicsWrapper {
    transform: scale(0.75);
  }
}
@media screen and (max-width: 576px), screen and (max-height: 700px) {
  .GraphicsWrapper {
    transform: scale(0.5);
  }
}
